.heading2{

    margin-left: -5%;
    margin-top: 12%;
    padding: 1% 5% 1% 5%;
}
.btn4{
    background-color: #1995AF;
    padding: 10px 400%;
    border-radius: 4px;
    border-style: none;
}
.required{

    font-size: 10px;
    color: red;
    padding: 0% 5%;
    width: 133%;
}